<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="facebook.js"></script>
    <script src="facebookController.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script src="map.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD2V3S0YNeUESwl6xl7al7v6NTDtCzDRQ&callback=initMap">
    </script>

    <div ng-app="facebook">
      <div ng-controller="facebookController">
        <button ng-click="login()">Log in to Facebook</button>
        <button ng-click="logout()">Log out</button>
      </div>
    </div>
  </body>
</html>