html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

h1, h2, h3, h4 {
  color: black;
}

/* ---- Auth page ---- */
div.auth {
  /*background-image: url('../img/coffee.jpg');*/
  height: 600px;
}

.landingHeader {
  font-size: 48px;
  color: white;
  width: 400px;
  margin: auto;
  line-height: 600px;
}

.login {
  font-size: 12px;
  color: blue;
  width: 150px;
  margin: 0 auto;
  /*position: absolute;
  top: 400px;
  left: 250px;*/
  background-color: white;
  line-height: 25px;
  /*box-shadow: none;*/
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.logo {
  color: white;
  border-top: 0;
}

/* ---- Home page ---- */

div {
  /*border: dotted 1px red;*/
}
.background {
  top:0;
  left:0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(../img/park.jpeg);
}

.container-fluid {
  /*border: dashed 2px blue;*/
  padding: 60px;
}

.mapContainer {
  border-right: solid black 2px;
  padding: 0px;
  background-color: #ccc;
}

#map {
  width: 100%;
  height: 505px;
}

.nearbyEvents {
  background-color: #999;
  overflow: auto;
  height: 528px;
  padding: 0px;
}

.event {
  color:#444;
  padding:5px;
  background-color: #cdc;
  border-radius: 2px;
  margin: 5px;
}

.event li {
  list-style: none;
}

.event button {
  margin: 0px;
}

.createEvent {
  color:#444;
  height: 528px;
  background-color: #ccc;
  padding: 0px;
}

.createEvent form {
  margin-left: 5px;
  margin-right: 5px;
}

.columnHeader {
  text-align: center;
  border-bottom: solid 1px black;
  margin-left: 0px;
  margin-right: 0px;
}
/*

#map {
  height: 500px;
  width: 500px;
  margin: 15px;
  float: left;
}

.smallText {
  font-family: 'Roboto', sans-serif;
}

.largeText {
  font-family: 'Crimson Text', serif;
  font-size: 250%;
}

#feed {
  margin-top: 15px;

}

.loading {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 225px;
  left: 225px;
}*/

#over {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  z-index: 1;
}

#under {
  position: absolute;
  z-index: 0;
}
/*
.btn {
  background-color: green;
}*/

/* ---- Friends page ---- */

.friendImage {
  position: relative;
  padding: 8px;
  color: #fff;
  background-size: cover;
  width: 31%;
  height: 256px;
  display: block;
  float: left;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.5);

  transition: all .2s ease-in-out;
}

.removeButton {
  position: absolute;
  bottom:   10px;
}

.friendName {
  position: absolute;
  bottom:   30px;
}

.friendPreview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.col1 {
  width: 1%;
}

td {
  text-align: left;
  vertical-align:middle;   
}
