html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

#map {
  height: 500px;
  width: 500px;
  margin: 15px;
  float: left;
}

.smallText {
  font-family: 'Roboto', sans-serif;
}

.largeText {
  font-family: 'Crimson Text', serif;
  font-size: 250%;
}

#feed {
  margin-top: 15px;

}

.loading {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 225px;
  left: 225px;
}


