<div ng-controller='FriendsController'>

  <!-- Add friend -->
  <label>Search Greenfield: <input type="text" ng-model="search"></label>
  <form ng-show="(filteredUsers = (users | filter:search)) && search.length >= 2">
    <table>  
      <tr ng-repeat="user in filteredUsers">
        <td ng-click="addFriend(user)">{{user.name}}</td>
      </tr>
    </table>
    <!-- <input type="submit" ng-click="update(user)" value="Save" /> -->
  </form>

  <!-- View friends -->
  <h3>My Friends</h3>
  
  <div ng-repeat="friend in friends">
    <p>{{friend}}</p>
    <button ng-click="removeFriend(friend)">
      Remove from Friends
    </button>
    <!-- <div class= "friend" ng-style= "{'background-image':'url(http://www.helpinghomelesscats.com/images/cat1.jpg)'}">
    </div>  -->
  </div>

  <h3>All Users (for testing only!)</h3>
  <div ng-repeat="user in users"  >
   {{user.name}}
    
  </div>

</div>
