<!-- OLD OBSOLETE HTML -->
<div id="concert">
  <div ng-controller="EventController">


 <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="{{position[0]}}, {{position[1]}}">Your Location</option>
    </select>
    <b>End: </b>
    <select id="end" >
      <option ng-repeat="data in allLocations" value="{{data.latitude}}, {{data.longitude}}">{{data.personname}}</option>
    </select>
</div>
  <div class="box">
    <div id="contactFormContainer">
        <div id="contactForm">
          <form action="/events.html" method="POST">
            <fieldset>
                <label for="Title">Title *</label>
                <input id="name" type="text" />
                <label for="location">Location:</label> 
                <input type="text" id="txtPlaces" style="width: 250px" name="location" placeholder="Enter a location" required/>
                <label for="datetime1"> Starting Time: </label>
                <input type="text" id="time" data-format="h:mm a" data-template="hh : mm a" name="datetime1" value="8:30 pm" required>
                <label for="datetime2"> Ending Time: </label>
                <input type="text" id="time2" data-format="h:mm a" data-template="hh : mm a" name="datetime2" value="8:30 pm" required>
                <label for="Description">Event Description *</label>
                <textarea id="Description" rows="3" cols="20"></textarea>
                <input id="sendMail" type="submit"/>
           </fieldset>
        </form>
        </div>
        <div id="contactLink"></div>
    </div>
</div>
</div>

<div>
    <img class="loading" src="img/loading.gif" ng-show="loading">
    <div id="map" style="border-style: solid; border-width: 2px; border-color: black;"> </div>
    <br>
    <div class='largeText'>Events near you:</div>
        <div style="margin-top: 15px; width: 320px; height: 455px; padding: 5px; border: solid 2px #000; overflow:auto;">
           <ul ng-repeat="data in allLocations" style="margin-right: 5px; padding-bottom: 30px; display:inline-block;">
               <li style="font-weight: bold;"> {{data.personname}} </li>
               <li> {{data.description}}  </li>
               <li> Will be here until {{data.timeuntil}} </li>
               <li><button class="btn btn-alt" style="display:inline-block;" ng-click="callMarker($index)">Get event info</button> </li>
           </ul>
           <button ng-click="clearMarkers()">Clear Markers</button>
        </div>
  <div ng-if="boxAppear" id="directBox">
    <div class="largeText"> Directions: </div>
    <div id="directions"></div>
  </div>
</div>
