<div class="container-fluid">


	<!-- Map Column -->
	<div class="col-md-6 mapContainer">
	<!-- Map -->
		<div class="col-md-12" id="map">
		</div>
	<!-- Map Direction Bar -->
		<div class="col-md-12 text-center" id="floating-panel">
			<span>Start: </span>
			<select id="start">
				<option value="{{position[0]}}, {{position[1]}}">
					Your Location
				</option>
			</select>
			<span>End: </span>
			<select id="end">
				<option ng-repeat="data in allEvents" value="{{data.location.coordinates[1]}}, {{data.location.coordinates[0]}}">{{data.user}}: {{data.title}}</option>
			</select>
		</div>
	</div>

	<!-- Nearby Events Column -->
	<div class="col-md-3 nearbyEvents">
		<h2 class="columnHeader">Events Near You</h2>
	<!-- Individual Events -->
		<div class="event" ng-repeat="data in allEvents">
			<li>{{data.user}}</li>
			<li>{{data.description}}</li>
			<li>{{data.endedAt}}</li>
			<button ng-click="callMarker($index)">Get event info</button>
		</div>
	</div>


<div ng-controller="EventController">
	<!-- Create Event Column -->
	<div class="col-md-3 createEvent">
		<h2 class="columnHeader">Create Event Dropdown</h2>
	<!-- Create Event Form -->
		<form>             
			<label for="Title" ng-model="title">Title: </label><br>
            <input ng-model="title" type="text"/><br>
            <label for="location">Location: </label><br>
            <input type="text" ng-model="address" id="txtPlaces" style="width: 250px" name="location" placeholder="Enter a location" required/><br>
            <label for="datetime2">Ending Time: </label><br>
            <input type="datetime-local" ng-model="endedAt"/><br> <!--type might be wrong now -->
            <label for="Description">Event Description: </label><br>
            <textarea id="Description" ng-model="description" rows="3" cols="20"></textarea><br>
            <input ng-click="sendForm()" type="submit"/>
		</form>
		<div id="contactLink"></div>
	</div>
</div>
</div>

